{% extends 'article/base.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/archives.css' %}">
{% endblock %}

{% block archives %}
    <ul class="archives-left">
        {% for list in list2 %}
            <li>{{ list }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block tags %}
    {% for tag in tags%}
        <span class="label label-primary">{{ tag.name }}</span>
    {% endfor %}
{% endblock %}

{% block wrapper-right %}
    <div class="time_axis">
        <div class="archives_date">
            <ul class="pub_day">
                {% for blog in page %}
                    <li class="pub_date">{{ blog.created_time|date:"Y-m-j" }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="archives_title">
            <ul class="archives_blog">
                {% for blog in page %}
                    <li><a href="/showDetails/{{ blog.id }}">{{ blog.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.content|slice:"10"}}……</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page.has_previous %}
                <li>
                    <a href="/archives/{{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
            {% endif %}
            {% for pindex in page.paginator.page_range %}
                {% if page.number == pindex %}
                    <li class="active"><a>{{ pindex }}</a></li>
                {% else %}
                    <li><a href="/archives/{{ pindex }}">{{ pindex }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li>
                <a href="/archives/{{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>



{% endblock %}